#department-nav {
  width: 5vw;
  height: 100vh;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
}

#departent-nav > span {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#department-nav-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#department-menu {
  color: white;
  text-decoration: none;
  margin: 0.6rem 0;
  font-size: 2rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: var(--tertiary-color);
  color: #fff;
  text-align: center;
  border-radius: 0 1rem 1rem 0;
  padding: 5px 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltiptext {
  font-size: 1rem;
  margin-left: 3vw;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#department-nav-header, 
#department-nav-foot {
  color: white;
}