#client-home {
  width: 95vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5vw;
}

#client-home-header {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  box-shadow: rgba(79, 86, 89, 0.2) 0px 8px 24px 0px;
}

#client-home-header > div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#client-home-header > div > h3 {
  font-size: 1.3rem;
  color: var(--tertiary-color);
  font-weight: lighter;
}

#client-home-header > div > p {
  font-size: 1rem;
  color: grey;
}

#client-home-header > span {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 3vw;
}

#header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  border-radius: 100px;
  background-color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

input:focus {
  outline: none;
}

#header-search > input {
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border: thin solid var(--tertiary-color);
}

#search-icon {
  width: 20%;
  size: 1.5rem;
  height: 70%;
  cursor: pointer;
  color: var(--primary-color);
}

.notifications {
  border: thin solid transparent;
  background-color: transparent;
  width: 3vw;
  height: 4vh;
}

.notifications > * {
  height: 100%;
  width: 100%;
  color: var(--tertiary-color);
}

#client-home-employees {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: thin solid var(--tertiary-color); */
}

.client-home-employees {
  width: 15%;
  height: 90%;
  border-right: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.client-home-employees > * {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.client-home-employees > p {
  height: 40%;
  font-size: 1.3rem;
  color: var(--tertiary-color);
}

.client-home-employees > span {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.client-home-employees > span > p {
  font-size: 1.3rem;
}

.client-home-employees > span > .sts-up {
  background-color: rgba(27, 251, 27, 0.129);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: 1rem;
  border-radius: 100px;
}

.client-home-employees > span > .sts-down {
  background-color: rgba(251, 42, 27, 0.129);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 0.9rem;
  border-radius: 100px;
}

#client-home-chart {
  width: 100%;
  height: 40%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#client-home-bar {
  width: 63%;
  height: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#client-home-pie {
  width: 33%;
  height: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.client-home-chart-title {
  font-size: 1.3rem;
  height: 10%;
  border: thin solid black;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  color: var(--tertiary-color);
}

#client-home-pie > div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#client-home-pie > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 95%;
}

#client-home-emps {
  width: 100%;
  height: 40%;
}

#client-home-emps-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#client-home-emps-head {
  height: 10%;
  width: 100%;
  border: thin solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

#client-home-emps-head > *,
.client-home-emps-child > * {
  font-size: 0.8rem;
  width: max-content;
  min-width: 7%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-home-emps-child {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #id{
  height: 100%;
  width: 100%;
} */
