#client-employee {
  width: 95vw;
  height: 100%;
}

#client-employee-stats {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#client-employee-stats > * {
  height: 100%;
  width: 50%;
}

#client-employee-attendace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#client-employee-attendace > h3 {
  height: 10%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--tertiary-color);
}

#client-employee-attendace-cont {
  width: 60%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.attendace-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid lightgray;
}

.attendace-cont > * {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.attendace-cont > p {
  height: max-content;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attendace-cont > span {
  height: 20%;
}

.attendace-cont > span > p {
  font-size: 1.3rem;
  font-weight: 200;
}

i {
  font-size: 1rem;
}

.att-up {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 0, 0.257);
  border-radius: 100px;
}

.att-down {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 100px;
  background-color: rgba(255, 0, 0, 0.257);
}

.att-down > * {
  font-size: 1rem;
  color: red;
}

.att-up > * {
  font-size: 1rem;
  color: green;
}

#report-buttons {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.report-button {
  width: 50%;
  height: 20%;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  color: var(--primary-color);
  border: thin solid var(--tertiary-color);
}

#client-employee-payroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

#client-employee-payroll > h3 {
  height: 15%;
  width: 100%;
  font-weight: lighter;
  font-size: 1.3rem;
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#client-employee-payroll > span {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

#client-employee-payroll > span > select {
  font-size: 1rem;
  width: 30%;
  height: 60%;
  padding: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 4px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/arrow-down-b-24-512.png");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

select:focus {
  outline: none;
}

#client-employee-info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#client-employee-info > * {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thin solid lightgrey;
  justify-content: space-evenly;
}

#client-employee-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-title,
#client-employee-location > p {
  width: 100%;
  height: 10%;
  font-size: 1.3rem;
  display: flex;
  color: var(--tertiary-color);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.leaflet {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

#client-employee-schedule {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.client-employee-schedule-span {
  width: 90%;
  height: 18%;
  display: flex;
  color: var(--primary-color);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  background-color: var(--tertiary-color);
}
