#client-profile {
  width: 95vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#client-profile > form,
#client-profile > span,
#client-profile > select {
  width: 98%;
  border: thin solid black;
}

.client-profile-head {
  height: max-content;
  /* margin-top: 0.5vh;
  margin-bottom: 0.5vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.client-profile-head > h3 {
  font-size: 1.5rem;
}
