#employee-cont {
  width: 100%;
}
#employee-money {
  width: 95vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5vw;
  margin-right: 20vw;
}

#employee-money-header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid var(--tertiary-color);
}

#employee-money-search {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#employee-money-cont1 {
  width: 100%;
  height: 15%;
  margin-top: 1rem;
}

#employee-money-cont1 > p {
  margin-left: 1rem;
  font-size: 1.3rem;
}

#employee-money-week {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.employee-money-week-stats {
  width: 20%;
  height: 80%;
  border: thin solid black;
  padding: 0.35rem 1rem;
  border-radius: 4px;
}

#employee-money-cont2,
#employee-money-cont3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#employee-money-cont2 {
  width: 100%;
  height: 37%;
  padding: 1rem 1rem 2rem;
}

#employee-money-cont2 > * {
  height: 100%;
}

#employee-money-cont2-1 {
  width: 58%;
}

#employee-money-cont2-2 {
  width: 40%;
}

#employee-money-cont3 {
  width: 100%;
  height: 33%;
}

#employee-money-cont3 > * {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

#employee-money-cont3-1 {
}

#employee-money-cont3-2 {
}

/* Aside */

#employee-payroll {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--tertiary-color);
  position: fixed;
  right: 0;
  top: 0;
}

#button-payslip {
  width: 75%;
  height: 14%;
  border: thin solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
}
