#header {
  width: 100%;
  height: 7vh;
  border: thin solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header > nav {
  width: 80%;
  height: 100%;
  /* border: thin solid white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-login {
  width: 15%;
  height: 80%;
  border: thin solid var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 1rem;
}

#nav-cont {
  width: max-content;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

#nav-cont > * {
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 1vw;
  margin-right: 1vw;
}

#nav-logo {
  height: 100%;
  width: max-content;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
}

/* Target all devices with a maximum width of 480 pixels */
@media (max-width: 480px) {
  /* Your CSS styles for phones go here */
}

/* Target all devices with a minimum width of 481 pixels and a maximum width of 768 pixels */
@media (min-width: 481px) and (max-width: 768px) {
  #header > nav {
    width: 95%;
  }
  #nav-cont {
    display: none;
  }

  #header-login {
    width: 30%;
  }
}
