#employee-cont {
  width: 99.5vw;
  border: thin solid black;
  height: 99.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#employee-home-header{
    width: 100;
}
