#employee-cont {
  width: 99.5vw;
  border: thin solid black;
  height: 99.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#employee-home {
  width: 70vw;
  height: 100%;
}

#employee-home-header {
  width: 100;
  height: 10%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
