@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* --primary-color: #f2f2f2; */
  --primary-color: #f8fafc;
  --secondary-color: #23d16b;
  --tertiary-color: #024751;
  --four-color: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 99vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 60vh;
}
