@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* --primary-color: #f2f2f2; */
  --primary-color: #ffffff;
  --secondary-color: #f1f8ff;
  --tertiary-color: #030d94;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 99vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
