#landing {
  width: 100%;
  min-height: 60vh;
  border: thin solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#landing > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#landing-section1 {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: thin solid black;
}

#landing-section1 > div {
  width: 50%;
  height: 100%;
  border: thin solid black;
}

#landing-section-1-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#landing-signup {
  width: 60%;
  height: 6vh;
  margin-top: 1vh;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: thin solid;
  font-size: 1rem;
  border-radius: 4px;
}

#landing-section2 {
  width: 80%;
  border: thin solid black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners {
  height: 80%;
  width: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners > span {
  height: 90%;
  width: 20%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#our-partners > span > img {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#landing-section3 {
  height: 70vh;
  width: 80%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-section3-header {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}

#our-partners-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners-container > span {
  width: 23%;
  height: 80%;
  border: thin solid black;
  border-radius: 10px;
}

#landing-section4 {
  height: 80vh;
  width: 80%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-section4-header {
  width: 100%;
  height: 25%;
  border: thin solid black;
}

#landing-section4-container {
  width: 100%;
  height: 65%;
  border: thin solid black;
}

#landing-section4-footer {
  width: 100%;
  height: 10%;
  border: thin solid black;
}

.landing-container {
  height: max-content;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.landing-container > * {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#landing-section5 {
  width: 80%;
  height: 55vh;
  background-color: var(--primary-color);
}

#landing-section5-header {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#landing-section5-header > h3 {
  font-size: 2rem;
  color: var(--tertiary-color);
}

#landing-section5-header > p {
  font-size: 1rem;
  width: 60%;
  color: gray;
  text-align: center;
}

#landing-section5-cont {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.review-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 70%;
  border-radius: 10px;
  background-color: white;
}

.review-cont > p {
  width: 90%;
  font-size: 1rem;
  text-align: center;
  height: max-content;
  color: var(--tertiary-color);
}

.review-foot {
}

#landing-section6 {
  width: 80%;
  height: 40vh;
  border: thin solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

#landing-section6 > h3 {
  font-size: 2rem;
  color: var(--secondary-color);
}

#landing-section6 > p {
  font-size: 1rem;
  width: 60%;
  text-align: center;
  color: var(--primary-color);
}

#landing-section6 > span {
  width: 50%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.book-link {
  height: 100%;
  width: 30%;
  border: thin solid var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 1rem;
}

#book-link1 {
  background-color: var(--secondary-color);
  border: thin solid var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
}
