#landing {
  width: 100%;
  min-height: 60vh;
  border: thin solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#landing-section1 {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: thin solid black;
}

#landing-section1 > div {
  width: 50%;
  height: 100%;
  border: thin solid black;
}

#landing-section-1-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#landing-signup {
  width: 60%;
  height: 6vh;
  margin-top: 1vh;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: thin solid;
  font-size: 1rem;
  border-radius: 4px;
}

#landing-section2 {
  width: 80%;
  border: thin solid black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners {
  height: 80%;
  width: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners > span {
  height: 90%;
  width: 20%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#our-partners > span > img {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#landing-section3 {
  height: 70vh;
  width: 80%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-section3-header {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}

#our-partners-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#our-partners-container > span {
  width: 23%;
  height: 80%;
  border: thin solid black;
  border-radius: 10px;
}
