#client-payment-cont2 > h4 {
  width: 100%;
  height: 10%;
  color: var(--primary-color);
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

#client-payment-button {
  width: 95%;
  height: 7%;
  border: thin solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--tertiary-color);
  margin-bottom: 1vh;
  background-color: white;
}

#client-payment-cont1 > h4 {
  width: 100%;
  height: 10%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--tertiary-color);
  margin-bottom: 0.5vh;
}

#client-payment-cont1 > h5 {
  width: 100%;
  height: 7%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--tertiary-color);
}

#client-payment-cont-1-1 {
  width: 100%;
  height: 20%;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.client-payment-cont-1-1 {
  width: 24%;
  height: 98%;
  border-radius: 4px;
  border: thin solid black;
}

#client-payment-cont-1-2-head {
  width: 98%;
  height: 5%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#client-payment-cont-1-2-head > span {
  font-size: 1rem;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#client-payment-cont-1-2 {
  border: thin solid black;
  width: 98%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#client-payment-cont-1-3 {
  width: 98%;
  height: 30%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#client-payment-cont-1-3 > h5 {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

#client-payment-cont-1-3 > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
}

#client-payment-cont-1-3 > span > label {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#client-payment-cont-1-3 > span > label > p {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

#client-payment-cont-1-3 > span > label > input {
  width: 100%;
  height: 40%;
  border: thin solid black;
  font-size: 1rem;
  border-radius: 4px;

}

#client-payment-cont-1-3 > button {
  width: 50%;
  height: 20%;
}
