#client-cont {
  width: 99.9vw;
  height: 99.9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#client-signup {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#client-signup > form,
#client-signup > div {
  width: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


